---
export interface Props {
	href: string;
	title: string;
	body: string;
	history?: string;
}

const { href, title, body, history = '' } = Astro.props;
---

<article class="link-card card">
	<header>
		<a href={href} data-swup-history={history}>
			{title}
		</a>
		<span aria-hidden="true">&rarr;</span>
	</header>
	<p>
		{body}
	</p>
	<a href={href} data-swup-history={history} aria-hidden="true" tabindex="-1">{title}</a>
</article>
<style>
	h2 {
		margin: 0;
		font-weight: bold;
		transition: color 0.3s ease-in-out;
		color: var(--card-text-color, inherit);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: var(--card-text-color, var(--color-dimmed));
		transition: color 0.3s ease-in-out;
	}
</style>
