---
import { rand } from '../modules/util';

export interface Props {
	title: string;
	classes?: string;
	lang?: string;
}

const { title, classes = '', lang = 'en' } = Astro.props;

import '../styles/reset.css';
import 'sanitize.css/sanitize.css';
import 'sanitize.css/forms.css';
import '../styles/main.css';
import '../styles/transitions.css';
import logo from '../assets/swup-logo-icon.svg';

const fullTitle = [title, 'swup playground'].filter(Boolean).join(' — ');

---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{fullTitle}</title>
		<script src="/src/modules/router"></script>
		<slot name="head"/>
	</head>
	<body class={classes}>
		<slot name="body"/>
		<div class="layout">
			<header class="layout__header">
				<div class="header">
					<a href="/" class="site-title">
						<img class="site-title_image" src={logo.src} alt="swup">
						<span class="site-title_name">swup playground</span>
						<!-- <span class="site-title_breadcrumb">
							<span>›</span>
							Getting Started
						</span> -->
					</a>
				</div>
			</header>
			<div class="layout__content">
				<!--
					Animation classes:
						page-transition-fade
						page-transition-native
						page-transition-parallel-slide
						view-transition-main
				-->
				<main id="swup" class="layout__page page-transition-native">
					<slot />
				</main>
			</div>
			<footer class="layout__footer">
				<div class="footer">
					<div>
						End of page. <a href="/">Return home</a>
					</div>
					<div id="random" data-swup-morph="random">
						{rand()}
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
<style>
	header {

	}
</style>
