---
export interface Props {
	title: string;
	classes?: string;
	lang?: string;
}

const { title, classes = '', lang = 'en' } = Astro.props;

import '../styles/main.css';
import '../styles/transitions.css';
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="/src/modules/router"></script>
		<slot name="head"/>
	</head>
	<body class={classes}>
		<slot name="body"/>
		<div class="layout">
			<header>
				<a href="/" class="text-gradient">Swup Test</a>
			</header>
			<div id="random" data-swup-morph="random">{Math.random()}</div>
			<main id="swup" class="transition-fade-- transition-main--">
				<slot />
			</main>
			<footer>
				Reached end of page. <a href="/">Return home</a>
			</footer>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
